@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0 16px;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg font-medium inline-flex items-center justify-center tracking-tight
  }

  .btn-primary {
    @apply bg-black text-white border border-black
  }

  .btn-primary:hover {
    @apply transition-all duration-300 bg-white text-black
  }

  .btn-text {
    @apply text-black bg-transparent
  }

  .btn-text img {
    @apply transition-all duration-300
  }

  .btn-text:hover img {
    @apply translate-x-[3px] transition-all duration-300
  }

  .logo-ticker-img {
    @apply h-8 w-auto
  }

  .tag {
    @apply text-sm inline-flex border border-[#222]/10 px-3 py-1 rounded-lg tracking-tight
  }

  .section-title {
    @apply text-center text-3xl md:text-[54px] md:leading-[60px] font-bold tracking-tighter bg-gradient-to-b from-black to-[#001E80] text-transparent bg-clip-text
  }

  .section-desc {
    @apply text-center text-[22px] leading-[30px] tracking-tight text-[#010D3E]
  }

  .section-heading {
    @apply max-w-[560px] mx-auto
  }

  .card {
    @apply p-10 rounded-3xl shadow-[0_7px_14px_#EAEAEA] max-w-xs w-full border border-[#F1F1F1]
  }
}

@layer utilities {
  .mask-gradient {
    mask-image: linear-gradient(to right, transparent, black, transparent);
  }

  .mask-gradient-vertical.mask-gradient-vertical {
    mask-image: linear-gradient(to bottom, transparent, black, black, black, transparent);
  }

  .filter-brightness-invert {
    filter: brightness(0) invert(1);
  }
}