@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0 16px;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg font-medium inline-flex items-center justify-center tracking-tight
  }

  .btn-primary {
    @apply bg-black text-white border border-black
  }

  .btn-primary:hover {
    @apply transition-all duration-300 bg-white text-black
  }

  .btn-text {
    @apply text-black bg-transparent
  }

  .logo-ticker-img {
    @apply h-8 w-auto
  }
}

@layer utilities {
  .mask-gradient {
    mask-image: linear-gradient(to right, transparent, black, transparent);
  }
}